# Node.js dependencies
node_modules/

# npm package files
package-lock.json
npm-debug.log

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
coverage/

# Generated reports
CaFeb25-ExerciseSubmission
reports/*.*
src/ex-tester.code-workspace
ex-tester.code-workspace
uploads