# Node.js dependencies
node_modules/

# npm package files
package-lock.json
npm-debug.log

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
coverage/

# Generated reports
student-evaluation-report.md 
CaFeb25-ExerciseSubmission
src/student-results.json
src/student-report.md
src/student-report.csv
**/*-detailed-report.md
**/*-detailed-report.html
src/_detailed-report copy.md
src/_detailed-report.md
src/reports/_detailed-report copy.md
src/student-report.html
src/ex-tester.code-workspace
ex-tester.code-workspace
student-results.json
uploads
student-report.csv
student-report.md
